* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #015201ef;
}

/* HEADER */

header {
    width: 100%;
    height: 45px;
    background-color: black;
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINER */

.container {
    width: 100%;
    height: calc(100vh - 6rem);
    display: flex;
    gap: 1rem;
}

/* ASIDE */

.container aside {
    width: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* FOTO */

.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #e7e7e7f3;
    overflow: hidden;
    margin-top: 20px;
}

.foto img {
    width: 150px;
    display: block;
}

/* MAIN */

.container main {
    width: calc(100% - 300px);
    padding: 20px;
}

/* BOTÕES */

button {
    width: 70%;
    height: 32px;
    border: 1px solid #fafafa;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004d0ac5;
    color: #f8f5f5;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
}

button:hover {
    background-color: #37e02780;
    font-size: 18px;
}

/* TEXTO */

h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: white;
}

.descricao {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 60px;
}

/* FOOTER */

footer {
    width: 100%;
    height: 52px;
    background-color: black;
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}
